$primary-color: #0fbcf9;
$secondary-color: #426AE0;
$secondary-dark-color: #253C80;
$font-dark-color: #333333;
$font-light-color: #ffffff;
$gray-color: #f0f0f0f0;
$icon-theme-1: #0FBCF9;
$icon-theme-2: #33A0FF;
$icon-theme-3: #426AE0;
$icon-theme-4: #3354B3;
$icon-theme-5: #253C80;
