$primary-color: #0fbcf9;
$secondary-color: #426ae0;
$secondary-dark-color: #253c80;
$font-dark-color: #333333;
$font-light-color: #ffffff;
$font-gray-color: #777777;
$gray-color: #f0f0f0f0;
$icon-theme-1: #0fbcf9;
$icon-theme-2: #33a0ff;
$icon-theme-3: #426ae0;
$icon-theme-4: #3354b3;
$icon-theme-5: #253c80;
