$default-border-radius: 5px;
$icon-default-size: 28px;
$menu-height: 64px;
$menu-icon-img-size: 28px;
$menu-icon-pad: 16px;
$menu-icon-size: $menu-icon-img-size + 2 * $menu-icon-pad;

$pd-sm: 4px;
$pd-md: 6px;
$pd-lg: 12px;

$mg-for-child: 6px;
$mg-for-item: 16px;
$mg-for-content: 28px;
