$default-border-radius: 5px;
$icon-default-size: 28px;
$menu-height: 64px;
$menu-icon-img-size: 28px;
$menu-icon-pad: 16px;
$menu-icon-size: $menu-icon-img-size + 2 * $menu-icon-pad;
$btn-sm-height: 60px;
$btn-sm-width: 254px;

$pd-sm: 4px;
$pd-md: 6px;
$pd-lg: 12px;

$mg-for-child: 8px;
$mg-for-item: 16px;
$mg-for-content: 28px;

$text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.42);
