.page-enter-active, .page-leave-active {
  transition: all .3s ease-out;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
/* ページが去る時のアニメーション */
.page-leave-to {
  /* transform: translateX(100%); */
  opacity: 0.0;
}
/* ページが入る時のアニメーション（逆再生されている） */
.page-enter {
  /* transform: translateX(-100%); */
  opacity: 0.0;
}